.mainbody{
    position: absolute;
    top: 200px;
    border: 2px solid transparent;
    margin:0 20%;
    border-radius: 0.5cm;
    text-align: center;
    background-color: rgba(255, 0, 149, 0.205);
    font-size: 30px;
}

#addressess{
    padding-top: 850px;
    position: relative;
    float: right;
    font-size: 19px;
    font-style: normal;
}