
#logo{
    position: absolute;
    top: 15px;
    position: fixed;
    z-index: 1;
}

.navbar ul, .navbar li{
    padding: 0;
    margin: 0;
}

.navbar ul{
    background: transparent;
    list-style: none;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.navbar>ul>li{
    left: 140px;
    float: left;
    position: relative;
    width: 23%;
    top: 25px;
}

.navbar ul a{
    background:blue;
    border-radius: 2.5cm;
    margin: 5px;
    color: white;
    display: block;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease;
}

.navbar li:hover a{
    background: gray;
}

#submenu{
    background-color: transparent;
    visibility: hidden;
    left: 0;
    opacity: 0;
    position: absolute;
    z-index: 1;
}

li:hover ul#submenu{
    opacity: 1;
    visibility: visible;
}


#submenu li{
    float: none;
    width: 100%;
}

#submenu a:hover{
    background: brown;
}

#submenu a{
    background-color: violet;
}
